# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Entrance\Coding_Training\JavaProgram\Training_and_UoB\UoB\Semester_2\FSD_Programing\Week_9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
